.first-name-field:invalid {
    border: 1px solid red;
  }
body {
  background-color:beige;
}
/* --------------------
        Navbar
 ---------------------*/
  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    top:25%;
    position: absolute;
  }
  

  .navbar-brand {
    padding: 0px;
  }
  .navbar-brand>img {
    height: 100%;
    width: auto;
    padding: 1px 14px 30px 14px;
  }
  #navbar a {
    color:black;
  }
  
  
  .navbar{
    margin-bottom: 70px;
    background-color:grey;
    height:70px;
  }
  .navbar-nav li a {
    padding: 30px 5px 15px 5px;
   
}
.navbar-toggler-icon{
  background-image: url("./assets/gummy-bear.png");
}
#submitnav ul li a{
  color:black;
}

#submitnav {
 visibility: hidden;
}
/* .navbar-brand img {
  max-width:20px;
  max-height:20px;
} */
  /* --------------------
        Form
 ---------------------*/
 #header-form {
   display: flex;
   flex-direction: row;
   margin-bottom:80px;
   
 }
 #mc_embed_signup_scroll {
   height:390px;
   text-align:center;
   
 }

  /* --------------------
        Carousel
 ---------------------*/

 .carousel-inner > .carousel-item > img {
  width:640px;
  height:450px;
}
.first-name-field:invalid {
  border: 1px solid red;
}

.testimonial-image {
  width: 250px;
  height: auto;
  border-radius: 250px;
}

blockquote {
  width: 100%
}

.quotes {
  height: 400px;
}

.copyright {
  float: right;
}

.footer-wrapper {
    border-top: 1px solid gray;
}

.footer > .container > ul {
  list-style: none;
}

.footer-wrapper > 
.container >  
.row >
.col >
.footer >
 li {
  display: inline-block;
}

.footer-wrapper > 
.container >  
.row >
.col >
.footer >
 li {
  display: inline-block;
}

.footer-icon {
    width: 30px;
    height: auto;
    margin: 3px;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #000000;
}

.svg-icon circle {
  stroke: #000000;
  stroke-width: 1;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  #submitnav {
    visibility:visible;
  }
  #mailchimp {
    visibility: hidden;
  }
}

@media only screen and (max-width: 992px) {
    .testimonial-image {
        width: 200px;
        height: auto;
        border-radius: 200px;
      }
  }

  @media only screen and (max-width: 770px) {
    .testimonial-image {
        width: 150px;
        height: auto;
        border-radius: 150px;
      }
  }

  @media only screen and (max-width: 575px) {
    .testimonial-image {
        width: 250px;
        height: auto;
        border-radius: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
  }